<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-back-button text="Back" default-href="home"></ion-back-button>
        </ion-button>
        <ion-title>List of pilots</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-row *ngFor="let item of pilots">
            <ion-col>{{ item.FirstName }}</ion-col>
            <ion-col>{{ item.LastName }}</ion-col>
            <ion-col>{{ item.PhoneNumber }}</ion-col>
            <ion-col>{{ item.Adress }}</ion-col>
            <ion-col>{{ item.weight }}</ion-col>
        </ion-row>
    </ion-list>
</ion-content>