<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-back-button [icon]="'arrow-back-outline'" default-href="home"></ion-back-button>
        </ion-button>
        <ion-title>List of pilots</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-row>
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let field of fields">{{ field }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td *ngFor="let field of fields">{{ item[field] }}</td>
                    </tr>
                </tbody>
            </table>
        </ion-row>
    </ion-list>
</ion-content>