<ion-header>
    <ion-toolbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Categories
        </ion-title>
    </ion-toolbar>



</ion-header>



<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-card-categories routerLink="/pilot-list"></app-card-categories>
            </ion-col>
            <ion-col>
                <app-card-categories></app-card-categories>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>